.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  --counter-label-letter-spacing: clamp(0.1875rem, 0.43em, 0.375rem);
  text-transform: uppercase;
  font-size: clamp(0.4375rem, calc(0.375rem + 0.56vw), 0.875rem);
  line-height: clamp(0.625rem, 1.42em, 1.25rem);
  letter-spacing: var(--counter-label-letter-spacing);
  margin-right: calc(-0.5 * var(--counter-label-letter-spacing));
  padding-top: clamp(0.625rem, calc(0.5rem + 0.5vw), 1rem);
}

.card {
  --counter-card-bottom-height: clamp(0.3125rem, calc(0.1875rem + 0.5vw), 0.625rem);
  --counter-card-divider-height: 1px;
  --counter-card-divider-slot-baseheight: clamp(0.375rem, calc(0.25rem + 0.56vw), 0.75rem);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: clamp(4.375rem, calc(2.625rem + 7.42vw), 9.25rem);
  min-height: clamp(
    calc(4.125rem + var(--counter-card-divider-height)),
    calc(2.5rem + 6.9vw + var(--counter-card-divider-height)),
    calc(8.75rem + var(--counter-card-divider-height))
  );
  color: var(--accent-color);
  font-size: clamp(2.25rem, calc(1.25rem + 4.2vw), 5rem);
  background-color: hsl(236, 21%, 26%);
  border-radius: clamp(0.25rem, calc(0.125rem + 0.5vw), 0.5rem);
  box-shadow: 0 var(--counter-card-bottom-height) hsl(234, 17%, 12%);
  margin-bottom: var(--counter-card-bottom-height);
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(50% + (var(--counter-card-divider-height) / 2));
  background-color: hsla(0, 0%, 0%, 0.15);
  border-bottom: var(--counter-card-divider-height) solid hsla(0, 0%, 0%, 0.25);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.top::before,
.top::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: calc(
    -1 * (var(--counter-card-divider-slot-baseheight) / 2 + var(--counter-card-divider-height))
  );
  height: calc(var(--counter-card-divider-slot-baseheight) + var(--counter-card-divider-height));
  aspect-ratio: 1/2;
  background-color: hsl(234, 17%, 12%);
}

.top::before {
  left: 0;
  border-top-right-radius: 1000vmax;
  border-bottom-right-radius: 1000vmax;
}

.top::after {
  right: 0;
  border-top-left-radius: 1000vmax;
  border-bottom-left-radius: 1000vmax;
}
