.icon {
  display: inline-block;
  width: 1.5rem;
  aspect-ratio: 1/1;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: var(--primary-color);
}
.icon:hover {
  background-color: var(--accent-color);
}

.facebook .icon {
  mask-image: url('../../assets/icon-facebook.svg');
  -webkit-mask-image: url('../../assets/icon-facebook.svg');
}

.pinterest .icon {
  mask-image: url('../../assets/icon-pinterest.svg');
  -webkit-mask-image: url('../../assets/icon-pinterest.svg');
}

.instagram .icon {
  mask-image: url('../../assets/icon-instagram.svg');
  -webkit-mask-image: url('../../assets/icon-instagram.svg');
}
