.app {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.message {
  font-size: clamp(1.125rem, calc(0.875rem + 0.7vw), 1.625rem);
  color: white;
  text-transform: uppercase;
}

.attribution {
  font-size: 0.6875rem;
}

.attribution a {
  color: inherit;
}
.attribution a:hover {
  color: var(--accent-color);
}
