.app {
  height: 100%;
  display: grid;
  grid-template-rows: 35% auto 13%;
  justify-items: center;
}

.message {
  --app-message-letter-spacing: clamp(0.375rem, 0.33em, 0.5rem);
  align-self: center;
  max-width: 80vw;
  font-size: clamp(1.125rem, calc(0.875rem + 0.7vw), 1.625rem);
  line-height: clamp(1.5rem, 1.16em, 1.875rem);
  letter-spacing: var(--app-message-letter-spacing);
  margin-right: calc(-0.5 * var(--app-message-letter-spacing));
  color: white;
  text-transform: uppercase;
}

.attribution {
  position: absolute;
  bottom: 2px;
  font-size: 0.675rem;
}

.attribution a {
  color: inherit;
}
.attribution a:hover {
  color: var(--accent-color);
}
